<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <script src="jquery.js"></script>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
    </head>
    <body>
        <div>
            <h3><%= hotGirl.name %></h3>
            <div class="div-control">
                <a href="/hotgirl/<%= hotGirl.id - 1 %>">Trở lại</a>
                <a href="/hotgirl/<%= hotGirl.id + 1 %>">Tiếp</a>
            </div>
            <hr />
            <img src="<%= hotGirl.image %>" width="300">
            <hr />
            <div class="div-control">
                <a href="/like/<%= hotGirl.id %>" id="btn-like"><%= hotGirl.likeNumber %> Like</a>
                <a href="/dislike/<%= hotGirl.id %>" id="btn-dislike"><%= hotGirl.dislikeNumber %> Dislike</a>
            </div>
        </div>
    </body>
    <script>
        $('#btn-like').click((e) => {
            e.preventDefault();
            $.get('/like/<%= hotGirl.id %>', (data) => {
                $('#btn-like').text(data + ' Like');
            });
        });

        $('#btn-dislike').click((e) => {
            e.preventDefault();
            $.get('/dislike/<%= hotGirl.id %>', (data) => {
                $('#btn-dislike').text(data + ' Dislike');
            });
        });
    </script>
</html>
