<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
    </head>
    <body>
        <div>
            <h3><%= hotGirl.name %></h3>
            <div class="div-control">
                <a href="/hotgirl/<%= hotGirl.id - 1 %>">Trở lại</a>
                <a href="/hotgirl/<%= hotGirl.id + 1 %>">Tiếp</a>
            </div>
            <hr />
            <img src="<%= hotGirl.image %>" width="300">
            <hr />
            <div class="div-control">
                <a href="/like/<%= hotGirl.id %>"><%= hotGirl.likeNumber %> Like</a>
                <a href="/dislike/<%= hotGirl.id %>"><%= hotGirl.dislikeNumber %> Dislike</a>
            </div>
        </div>
    </body>
</html>